.detailmodal-style-1 {
    padding: 2.5rem 3rem 1rem;
}

.detailmodal-style-2 {
    padding: 6px 8px;
}

.detailmodal-style-3 {
    padding: 0 3rem 1.5rem;
}

.detailmodal-style-4 {
    padding: 0 3rem 2.5rem;
}

.detailmodal-style-5 {
    padding: 2rem 3rem 2.5rem;
}
